@font-face {
  font-family: Segoe UI Regular;
  src: url(../assets/fonts/segoeui.ttf);
}
@font-face {
  font-family: Segoe UI Bold;
  src: url(../assets/fonts/segoeuib.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-wrapper {
  min-width: 100vw;
}

::root {
  font-size: 16px;
}

nav {
  height: 6.75em;
  border-bottom: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 1.7%;
  min-width: 100%;
}
nav .logo {
  width: 15%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
nav .logo img {
  height: 73px;
}
nav .logo p {
  color: #000;
  font-family: Segoe UI Regular;
}
nav .search-bar {
  width: 30%;
  background-color: rgba(88, 124, 131, 0.35);
  height: 40%;
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
}
nav .search-bar img {
  height: 100%;
  opacity: 45%;
  margin-right: 5px;
}
nav .search-bar p {
  font-family: Segoe UI Regular;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
nav .links {
  width: 38%;
  height: 20px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links img {
  height: 150%;
  margin-left: -5%;
}
nav .links a {
  color: #000;
  font-size: 16px;
  font-family: Segoe UI Regular;
  text-decoration: none;
  margin-right: 4px;
}

footer {
  height: 5.75em;
  background-color: #587C83;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.1875em 4em;
}
footer .social {
  height: 5.75em;
  width: 6.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .social img {
  height: 2em;
  margin-left: 1rem;
}
footer .copyright span {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Segoe UI Regular;
}
footer .links {
  margin-left: 0.625em;
  min-width: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .links a {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Segoe UI Regular;
  text-decoration: none;
  margin-right: 1em;
}

@media screen and (max-width: 772px) {
  footer .copyright span {
    font-size: 0.6875rem;
  }
  footer .links a {
    font-size: 0.6875rem;
  }
}
.hero {
  height: 300px;
  width: 80%;
  background-image: url(../assets/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 80px;
}
.hero .opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(88, 124, 131, 0.7);
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero .opacity .text-holder {
  margin-right: 10%;
}
.hero .opacity .text-holder h1 {
  font-size: 32px;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.hero .opacity .text-holder p {
  font-family: Segoe UI Regular;
  color: #FFFFFF;
}

.home-content {
  min-height: 750px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-content .book-info {
  height: 750px;
  width: 30%;
}
.home-content .book-info .book {
  height: 500px;
  width: 85%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.home-content .book-info .book-desc {
  width: 100%;
  text-align: center;
  font-family: Segoe UI Regular;
  font-size: 14px;
}
.home-content .book-info .book-price {
  font-family: Segoe UI Bold;
  text-align: center;
}
.home-content .book-info .cart {
  margin-left: 20%;
  height: 68px;
  width: 222px;
  border: 1px solid black;
  cursor: pointer;
}

.mockingbird {
  background-image: url(../assets/to-kill-a-mockingbird.jpg);
}

.michelle-obama {
  background-image: url(../assets/becoming.jpg);
}

.firestarter {
  background-image: url(../assets/firestarter.jpg);
}

.about-content-wrapper {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  margin-top: 213px;
  margin-bottom: 213px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about-content-wrapper .about-image {
  height: 100%;
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-content-wrapper .about-text-holder {
  width: 70%;
  min-height: 100px;
}
.about-content-wrapper .about-text-holder h1 {
  text-align: center;
  font-family: Segoe UI Bold;
  margin-bottom: 40px;
}
.about-content-wrapper .about-text-holder h3 {
  text-align: center;
  font-family: Segoe UI Bold;
  margin-bottom: 40px;
}
.about-content-wrapper .about-text-holder p {
  font-family: Segoe UI Regular;
}

.about-one {
  background-image: url(../assets/about-photo.jpg);
}

.about-two {
  background-image: url(../assets/about-photo-two.jpg);
}

.book-group {
  width: 97%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 310px;
}
.book-group .group-title {
  margin-bottom: 65px;
}
.book-group .group-title h2 {
  font-family: Segoe UI Bold;
}
.book-group .info-wrapper {
  width: 100%;
  min-height: 275px;
  display: flex;
  justify-content: space-between;
}
.book-group .info-wrapper .book-wrapper {
  height: 275px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.book-group .info-wrapper .book-wrapper .book-image {
  height: 100%;
  width: 190px;
  background-color: purple;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper {
  height: 100%;
  width: 180px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper p {
  font-family: Segoe UI Regular;
  margin-bottom: 20px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper h3 {
  font-family: Segoe UI Bold;
  margin-bottom: 15px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper .cart {
  height: 68px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.twilight {
  background-image: url(../assets/twilight-box-set.jpg);
}

.potter {
  background-image: url(../assets/hp-box-set.jpg);
}

.got {
  background-image: url(../assets/got-box-set.jpg);
}

.viola-davis {
  background-image: url(../assets/finding\ me.jpg);
}

.mlk-auto {
  background-image: url(../assets/mlk-biography.jpg);
}

.elanor {
  background-image: url(../assets/elenor-roosevelt-biography.jpg);
}

.misery {
  background-image: url(../assets/misery.jpg);
}

.frankenstein {
  background-image: url(../assets/frankenstein.jpg);
}

.phantoms {
  background-image: url(../assets/phantoms.jpg);
}

.winnie {
  background-image: url(../assets/winnie\ the\ pooh.jpg);
}

.cat {
  background-image: url(../assets/cat\ and\ the\ hat.jpg);
}

.space {
  background-image: url(../assets/fun\ facts\ about\ space.jpg);
}

/*# sourceMappingURL=styles.css.map */
