@font-face {
  font-family: Segoe UI Regular;
  src: url(../assets/fonts/segoeui.ttf);
}
@font-face {
  font-family: Segoe UI Bold;
  src: url(../assets/fonts/segoeuib.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-wrapper {
  min-width: 100vw;
  position: relative;
}

::root {
  font-size: 16px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  html {
    font-size: 6px;
  }
}
nav {
  height: 6.75em;
  border-bottom: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 1.7%;
  min-width: 100%;
}
nav .logo {
  width: 15%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
nav .logo img {
  height: 73px;
}
nav .logo p {
  color: #000;
  font-family: Segoe UI Regular;
}
nav .search-bar {
  width: 30%;
  background-color: rgba(88, 124, 131, 0.35);
  height: 40%;
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
}
nav .search-bar img {
  height: 100%;
  opacity: 45%;
  margin-right: 5px;
}
nav .search-bar p {
  font-family: Segoe UI Regular;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
nav .links {
  width: 38%;
  height: 20px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links img {
  height: 150%;
  margin-left: -5%;
}
nav .links a {
  color: #000;
  font-size: 1rem;
  font-family: Segoe UI Regular;
  text-decoration: none;
  margin-right: 4px;
}
nav .menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}
nav .menu-toggle .bar {
  width: 60px;
  height: 5px;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #FFFFFF;
    justify-content: start;
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    overflow: hidden;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
}
footer {
  position: absolute;
  height: 5.75em;
  background-color: #587C83;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.1875em 6em;
}
footer .social {
  height: 5.75em;
  width: 6.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .social img {
  height: 2em;
  margin-left: 1rem;
}
footer .copyright span {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Segoe UI Regular;
}
footer .links {
  margin-left: 0.625em;
  min-width: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .links a {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Segoe UI Regular;
  text-decoration: none;
  margin-right: 1em;
}

.hero {
  height: 300px;
  width: 80%;
  background-image: url(../assets/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 80px;
}
.hero .opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(88, 124, 131, 0.7);
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero .opacity .text-holder {
  margin-right: 10%;
}
.hero .opacity .text-holder h1 {
  font-size: 32px;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.hero .opacity .text-holder p {
  font-family: Segoe UI Regular;
  color: #FFFFFF;
}

.home-content {
  min-height: 750px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-content .book-info {
  height: 750px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2em;
}
.home-content .book-info .book {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}
.home-content .book-info .book-desc {
  width: 100%;
  text-align: center;
  font-family: Segoe UI Regular;
  font-size: 14px;
}
.home-content .book-info .book-price {
  font-family: Segoe UI Bold;
  text-align: center;
}
.home-content .book-info .cart {
  height: 68px;
  width: 222px;
  border: 1px solid black;
  cursor: pointer;
}

.mockingbird {
  background-image: url(../assets/to-kill-a-mockingbird.jpg);
}

.michelle-obama {
  background-image: url(../assets/becoming.jpg);
}

.firestarter {
  background-image: url(../assets/firestarter.jpg);
}

@media screen and (max-width: 772px) {
  .home-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 395px) {
  .book-info {
    height: 450px !important;
    width: 70% !important;
    margin-bottom: 88px !important;
  }
  .book-info .book {
    max-height: 150px;
    max-width: 90px;
  }
}
.about-content-wrapper {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  margin-top: 213px;
  margin-bottom: 213px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about-content-wrapper .about-image {
  height: 100%;
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-content-wrapper .about-text-holder {
  width: 70%;
  min-height: 100px;
}
.about-content-wrapper .about-text-holder h1 {
  text-align: center;
  font-family: Segoe UI Bold;
  margin-bottom: 40px;
}
.about-content-wrapper .about-text-holder h3 {
  text-align: center;
  font-family: Segoe UI Bold;
  margin-bottom: 40px;
}
.about-content-wrapper .about-text-holder p {
  font-family: Segoe UI Regular;
}

.about-one {
  background-image: url(../assets/about-photo.jpg);
}

.about-two {
  background-image: url(../assets/about-photo-two.jpg);
}

@media screen and (max-width: 772px) {
  .about-content-wrapper {
    margin-bottom: 100px;
    height: 500px;
  }
  .about-content-wrapper .about-image {
    width: 40% !important;
  }
  .about-content-wrapper .about-text-holder {
    width: 55% !important;
  }
}
@media screen and (max-width: 395px) {
  .about-content-wrapper {
    width: 90%;
    height: 400px;
  }
  .about-content-wrapper .about-image {
    height: 50% !important;
  }
  .about-content-wrapper .about-text-holder h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .about-content-wrapper .about-text-holder h3 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .about-content-wrapper .about-text-holder p {
    font-size: 10px;
  }
}
.book-group {
  width: 97%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 310px;
}
.book-group .group-title {
  margin-bottom: 65px;
}
.book-group .group-title h2 {
  font-family: Segoe UI Bold;
}
.book-group .info-wrapper {
  width: 100%;
  min-height: 275px;
  display: flex;
  justify-content: space-between;
}
.book-group .info-wrapper .book-wrapper {
  height: 275px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.book-group .info-wrapper .book-wrapper .book-image {
  height: 100%;
  width: 190px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper {
  height: 100%;
  width: 180px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper p {
  font-family: Segoe UI Regular;
  margin-bottom: 20px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper h3 {
  font-family: Segoe UI Bold;
  margin-bottom: 15px;
}
.book-group .info-wrapper .book-wrapper .book-info-wrapper .cart {
  height: 68px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.twilight {
  background-image: url(../assets/twilight-box-set.jpg);
}

.potter {
  background-image: url(../assets/hp-box-set.jpg);
}

.got {
  background-image: url(../assets/got-box-set.jpg);
}

.viola-davis {
  background-image: url(../assets/finding\ me.jpg);
}

.mlk-auto {
  background-image: url(../assets/mlk-biography.jpg);
}

.elanor {
  background-image: url(../assets/elenor-roosevelt-biography.jpg);
}

.misery {
  background-image: url(../assets/misery.jpg);
}

.frankenstein {
  background-image: url(../assets/frankenstein.jpg);
}

.phantoms {
  background-image: url(../assets/phantoms.jpg);
}

.winnie {
  background-image: url(../assets/winnie\ the\ pooh.jpg);
}

.cat {
  background-image: url(../assets/cat\ and\ the\ hat.jpg);
}

.space {
  background-image: url(../assets/fun\ facts\ about\ space.jpg);
}

@media screen and (max-width: 772px) {
  .info-wrapper {
    flex-direction: column;
    margin-bottom: 50px !important;
  }
  .info-wrapper .book-wrapper {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .info-wrapper .book-wrapper .cart {
    height: 30px !important;
  }
}
@media screen and (max-width: 395px) {
  .book-group {
    width: 80% !important;
    margin-bottom: 20px !important;
  }
  .book-group .info-wrapper {
    justify-content: space-between !important;
  }
  .book-group .info-wrapper .book-image {
    width: 100px !important;
    height: 140px !important;
  }
  .book-group .info-wrapper .book-info-wrapper {
    width: 200px !important;
  }
  .book-group .info-wrapper .book-info-wrapper p {
    margin-bottom: 10px;
  }
}
.blog-content {
  max-width: 80%;
  height: 450px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: #587C83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-content .left-content-spaced {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.blog-content .left-content-spaced .book {
  height: 70%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-content .right-content-shrinked {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-content .right-content-shrinked .text-content {
  height: 70%;
  width: 70%;
}
.blog-content .right-content-shrinked .text-content h1 {
  text-align: center;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
}
.blog-content .right-content-shrinked .text-content p {
  font-family: Segoe UI Regular;
  color: #FFFFFF;
  text-align: center;
}
.blog-content .right-content-shrinked .text-content .cart {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  height: 68px;
  width: 222px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #587C83;
  cursor: pointer;
}
.blog-content .right-content-shrinked .text-content .cart a {
  text-decoration: none;
  font-family: Segoe UI Regular;
  color: #FFFFFF;
}
.blog-content .left-content {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-content .right-content {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-content .right-content .text-content {
  height: 70%;
  width: 70%;
}
.blog-content .right-content .text-content h1 {
  text-align: center;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
}
.blog-content .right-content .text-content p {
  font-family: Segoe UI Regular;
  color: #FFFFFF;
  text-align: center;
}
.blog-content .right-content .text-content .cart {
  height: 68px;
  width: 222px;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #587C83;
  cursor: pointer;
}
.blog-content .right-content .text-content .cart a {
  text-decoration: none;
  font-family: Segoe UI Regular;
  color: #FFFFFF;
}

.michelle {
  background-image: url(../assets/becoming.jpg);
}

.davis {
  background-image: url(../assets/finding\ me.jpg);
}

.bookclubs {
  background-image: url(../assets/open-book-blog.jpg);
}

.e-reading {
  background-image: url(../assets/ereading-blog.jpg);
}

@media screen and (max-width: 772px) {
  .blog-content .left-content-spaced {
    width: 70%;
  }
  .blog-content .left-content-spaced .book {
    height: 50%;
    width: 40%;
  }
  .blog-content .right-content-shrinked {
    align-items: flex-start;
  }
  .blog-content .left-content {
    width: 50%;
  }
  .blog-content .right-content {
    width: 50%;
    align-items: flex-start;
  }
  .blog-content .right-content .text-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 395px) {
  .blog-content {
    height: 200px !important;
  }
  .blog-content .right-content-shrinked .text-content h1 {
    font-size: 10px;
  }
  .blog-content .right-content-shrinked .text-content p {
    font-size: 8px;
    margin-bottom: 5px;
  }
  .blog-content .right-content-shrinked .text-content .cart {
    margin-top: 5px;
    height: 30px;
    width: 100px;
  }
  .right-content .text-content h1 {
    font-size: 10px !important;
  }
  .right-content .text-content p {
    font-size: 8px !important;
    margin-bottom: 5px !important;
  }
  .right-content .text-content .cart {
    margin-top: 15px !important;
    height: 30px !important;
    width: 100px !important;
  }
}
.february-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
}
.february-wrapper .february-hero {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/february-favorites-hero.jpg);
}
.february-wrapper .february-hero .february-opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(88, 124, 131, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.february-wrapper .february-hero .february-opacity .february-hero-text {
  text-align: center;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
}
.february-wrapper .february-content-wrapper {
  width: 100%;
  height: 300px;
  margin-top: 140px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.february-wrapper .february-content-wrapper .book-left {
  height: 100%;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: purple;
}
.february-wrapper .february-content-wrapper .text-right {
  height: 100%;
  width: 75%;
}
.february-wrapper .february-content-wrapper .text-right h1 {
  font-family: Segoe UI Bold;
}
.february-wrapper .february-content-wrapper .text-right p {
  font-family: Segoe UI Regular;
  font-size: 14px;
}

.michelle {
  background-image: url(../assets/becoming.jpg);
}

.davis {
  background-image: url(../assets/finding\ me.jpg);
}

.bookclub-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
}
.bookclub-wrapper .bookclub-hero {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/book-club-hero.jpg);
}
.bookclub-wrapper .bookclub-hero .bookclub-opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(88, 124, 131, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookclub-wrapper .bookclub-hero .bookclub-opacity .bookclub-hero-text {
  text-align: center;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
}
.bookclub-wrapper .bookclub-content {
  height: 650px;
  width: 100%;
  margin-top: 105px;
  margin-bottom: 260px;
  display: flex;
  justify-content: space-between;
}
.bookclub-wrapper .bookclub-content .image-left {
  width: 40%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/open-book-blog.jpg);
}
.bookclub-wrapper .bookclub-content .text-right {
  width: 55%;
  height: 100%;
  font-family: Segoe UI Regular;
  font-size: 14px;
}

.e-read-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
}
.e-read-wrapper .e-read-hero {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ereading-blog.jpg);
}
.e-read-wrapper .e-read-hero .e-read-opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(88, 124, 131, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-read-wrapper .e-read-hero .e-read-opacity .e-read-hero-text {
  text-align: center;
  font-family: Segoe UI Bold;
  color: #FFFFFF;
}
.e-read-wrapper .e-read-content {
  height: 650px;
  width: 100%;
  margin-top: 105px;
  margin-bottom: 260px;
  display: flex;
  justify-content: space-between;
}
.e-read-wrapper .e-read-content .e-read-image-left {
  width: 40%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/eread-hero.jpg);
}
.e-read-wrapper .e-read-content .text-right {
  width: 55%;
  height: 100%;
  font-family: Segoe UI Regular;
  font-size: 14px;
}

.item-container {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-container .cart-container {
  width: 70%;
  height: 70%;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.item-container .cart-container .cart-image {
  height: 100%;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
}
.item-container .cart-container .cart-info {
  height: 100%;
  min-width: 40%;
  margin-left: 30px;
}
.item-container .cart-container .cart-info h4 {
  font-family: Segoe UI Bold;
}
.item-container .cart-container .cart-info p {
  font-family: Segoe UI Regular;
  margin-bottom: 35px;
}

.mlk {
  background-image: url(../assets/mlk-biography.jpg);
}

.misery {
  background-image: url(../assets/misery.jpg);
}

@media screen and (max-width: 395px) {
  .item-container {
    height: 300px !important;
  }
  .item-container .cart-image {
    height: 70% !important;
    width: 100px !important;
  }
  .item-container .cart-info {
    width: 45% !important;
  }
  .item-container .cart-info h4 {
    font-size: 10px;
  }
  .item-container .cart-info p {
    font-size: 10px;
  }
}
.form-wrapper {
  width: 35%;
  min-height: 100px;
  margin: 0 auto;
}
.form-wrapper .login {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.form-wrapper .login p {
  font-family: Segoe UI Regular;
}
.form-wrapper .login input, .form-wrapper .login textarea {
  font-family: Segoe UI Regular;
  width: 70%;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}
.form-wrapper .login .login {
  height: 50px;
  width: 150px;
  background-color: #587C83;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #FFFFFF;
}
.form-wrapper .sign-up {
  width: 100%;
  min-height: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.form-wrapper .sign-up p {
  font-family: Segoe UI Regular;
}
.form-wrapper .sign-up input, .form-wrapper .sign-up textarea {
  font-family: Segoe UI Regular;
  width: 70%;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}
.form-wrapper .sign-up .login {
  height: 50px;
  width: 150px;
  background-color: #587C83;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
