.book-group{
  width: 97%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 310px;
  .group-title{
    margin-bottom: 65px;
    h2{
      font-family: $bold-font;
    }
  }
  .info-wrapper{
    width: 100%;
    min-height: 275px;
    display: flex;
    justify-content: space-between;
    .book-wrapper{
      height: 275px;
      width: 400px;
      display: flex;
      justify-content: space-between;
      .book-image{
        height: 100%;
        width: 190px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .book-info-wrapper{
        height: 100%;
        width: 180px;
        
        p{
          font-family: $reg-font;
          margin-bottom: 20px;
        }

        h3{
          font-family: $bold-font;
          margin-bottom: 15px;
        }

        .cart{
          height: 68px;
          width: 150px;
          border: 1px solid black;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.twilight{
  background-image: url(../assets/twilight-box-set.jpg);
}

.potter{
  background-image: url(../assets/hp-box-set.jpg);
}

.got{
  background-image: url(../assets/got-box-set.jpg);
}

.viola-davis{
  background-image: url(../assets/finding\ me.jpg);
}

.mlk-auto{
  background-image: url(../assets/mlk-biography.jpg);
}

.elanor{
  background-image: url(../assets/elenor-roosevelt-biography.jpg);
}

.misery{
  background-image: url(../assets/misery.jpg);
}

.frankenstein{
  background-image: url(../assets/frankenstein.jpg);
}

.phantoms{
  background-image: url(../assets/phantoms.jpg);
}

.winnie{
  background-image: url(../assets/winnie\ the\ pooh.jpg);
}

.cat{
  background-image: url(../assets/cat\ and\ the\ hat.jpg);
}

.space{
  background-image: url(../assets/fun\ facts\ about\ space.jpg);
}

@media screen and (max-width: 772px){
  .info-wrapper{
    flex-direction: column;
    margin-bottom: 50px !important;
    .book-wrapper{
      margin: 0 auto;
      margin-bottom: 50px;
      .cart{
        height: 30px !important;
      }
    }
  }

}

@media screen and (max-width: 395px){
  .book-group{
   width: 80% !important;
   margin-bottom: 20px !important;
   margin-top: 20px;
   .info-wrapper{
    justify-content: center !important;
    .book-wrapper{
    width: 100%;
    justify-content: space-around;
    height: 200px;
      .book-image{
        width: 100px !important;
        height: 140px !important;
      }
      .book-info-wrapper{
        width: 100px !important;
    
        p{
          margin-bottom: 10px;
        }
        .cart{
          width: 100px;
        }
      }
    }
   } 
 
  }
}