.bookclub-wrapper{
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
  .bookclub-hero{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/book-club-hero.jpg);
    .bookclub-opacity{
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(88, 124, 131, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      .bookclub-hero-text{
        text-align: center;
        font-family: $bold-font;
        color: $site-white;
      }
    }
  }
  .bookclub-content{
    height: 650px;
    width: 100%;
    margin-top: 105px;
    margin-bottom: 260px;
    display: flex;
    justify-content: space-between;
    .image-left{
      width: 40%;
      height: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/open-book-blog.jpg);
    }
    .text-right{
      width: 55%;
      height: 100%;
      font-family: $reg-font;
      font-size: 14px;
    }
  }
}