footer {
    height: 92px;
    background-color: $site-blue;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 5%;

    .social {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            height: 100%;
        }
    }
    
    .copyright {
        span {
            color: $site-white;
            font-size: 16px;
            font-family: $reg-font;
        }
    }

    .links {
        margin-left: 10px;
        min-width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: $site-white;
            font-size: 16px;
            font-family: $reg-font;
            text-decoration: none;
            margin-right: 38px;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        .copyright {
            span {
                font-size: 11px;
            }
        }

        .links {
            a {
                font-size: 11px;
            }
        }
    }
}