footer {
    // position: absolute;
    height: 5.75em;
    background-color: $site-blue;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875em 5%;



    
    .copyright {
        span {
            color: $site-white;
            font-size: 1rem;
            font-family: $reg-font;
        }
    }

    .links-foot {
        margin-left: .625em;
        min-width: 8em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: $site-white;
            font-size: 1rem;
            font-family: $reg-font;
            text-decoration: none;
            margin-right: 1em;
        }
    }

    .social {
        height: 5.75em;
        width: 6.25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 3px;


        img {
            height: 2em;
            margin-left: 1rem;
        }
    }
}