footer {
    height: 5.75em;
    background-color: $site-blue;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875em 4em;

    .social {
        height: 5.75em;
        width: 6.25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            height: 2em;
            margin-left: 1rem;
        }
    }
    
    .copyright {
        span {
            color: $site-white;
            font-size: 1rem;
            font-family: $reg-font;
        }
    }

    .links {
        margin-left: .625em;
        min-width: 8em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: $site-white;
            font-size: 1rem;
            font-family: $reg-font;
            text-decoration: none;
            margin-right: 1em;
        }
    }
}

@media screen and (max-width: 772px) {
    footer {
        .copyright {
            span {
                font-size: .6875rem;
            }
        }

        .links {
            a {
                font-size: .6875rem;
            }
        }
    }
}