// fonts
$reg-font: Segoe UI Regular;
$bold-font: Segoe UI Bold;


// colors

$site-white: #FFFFFF;
$site-black: #000;
$site-blue: #587C83;

// nav-heights

$desk-height: 108px;
$ipod-height: 93px;
$mob-height: 55px;