@font-face {
    font-family: Segoe UI Regular;
    src: url(../assets/fonts/segoeui.ttf);
}

@font-face {
    font-family: Segoe UI Bold;
    src: url(../assets/fonts/segoeuib.ttf);
}


@import "variables.scss";
@import "mixins.scss";
@import "structure.scss";
@import "nav.scss";
@import "footer.scss";
@import "home.scss";
@import "about.scss";
@import "books.scss";
@import "blog.scss";
@import "february.scss";
@import "bookclubs.scss";
@import "e-read.scss";
@import "cart.scss";
@import "account.scss";