// fonts
$reg-font: Segoe UI Regular;
$bold-font: Segoe UI Bold;


// colors

$site-white: #FFFFFF;
$site-black: #000;
$site-blue: #587C83;
$search-bar: rgba(88, 124, 131, .35);

// nav-heights

$desk-height: 6.75em;
$ipod-height: 5.8125em;
$mob-height: 3.4375em;